.logo {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0px;
};

.header {
  position: absolute;
  width:100%;
  color: white;
  font-family: 'Nowharehouse', Courier, monospace;
};


h2 
{ 
position: absolute; /* To place the text on the image*/
top: 100px; /* The exact location of the text from the top of the image*/
left: 200px; /* Other beautification stuff */
width: 100%; 
color:black; 
font: "Nowharehouse", Sans-Serif; 
letter-spacing: 0px; 
};

.homeLink {

};

.releasesLink {

};




