.header {
    width:100%;
    color: white;
    font-family: 'Nowharehouse', Courier, monospace;
  };

.banner { 
position: relative; /* To help the image + text element to get along with the rest of the page*/ 
width: 100%; /* for IE 6 */ 
} ;

h2 
{ 
position: absolute; /* To place the text on the image*/
top: 100px; /* The exact location of the text from the top of the image*/
left: 200px; /* Other beautification stuff */
width: 100%; 
color:black; 
font: "Nowharehouse", Sans-Serif; 
letter-spacing: 0px; 
};

.homeLink {

};

.releasesLink {

};




